<!DOCTYPE html>
<html>

<head>
    <title>archiver</title>
</head>

<body>
    <div class="FORMULAIRE  DEMANDEURS">
        <h2>Formulaire demandeurs non complet :</h2>
        <br>
        <form method="POST" action="/archiver" id="contact-form">
            <fieldset>

                <legend><strong>etat civile</strong></legend>
                Matricule : <input type="text" name="Maticule">
                <br> Numero de dossier : <input type="number" name="Numero de dossier">
                <br> Nom : <input type="text" name="Nom" id="name"> Prenom : <input type="text" name="Prenom">
                <br> Adresse : <input type="text" name="Adresse">
                <br> Numero de telephone : <input type="text" name="Numero de telephone">
                <br> Email : <input type="email" name="Email" placeholder="adressemail@esi.dz">
                <br>
            </fieldset>
        </form>
    </div>
    <br>
    <button type="submit">Valider</button>
    <br>

</body>

</html>