
<!DOCTYPE html>
<html>
    <head>
        <title>check list</title>
    </head>
    <body>

    <br>
        <h1>le dossier de ce demandeur n'est pas complet voulez vous :</h1>
        <br>
        <br>
       
        <form method="POST" action="/archiver">
            <input type="submit" value="Archiver" name="done">
        </form>  
         <li><a href="http://127.0.0.1:3000/profil">Accueil</a></li>  
        
      
    </body>
</html>