<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/jpg" href="../img/lo.jpg">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Administration</title>
</head>


<style>
    @charset "utf-8";
    /* CSS Document */
    
    body {
        margin: 0px;
        padding: 0px;
        background-color: white;
        font-family: calibri;
    }
    
    a {
        text-decoration: none;
    }
    
    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .s-heading {
        text-align: center;
    }
    
    .s-heading h1 {
        color: #576975;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0px;
    }
    
    .s-heading p {
        color: rgba(87, 105, 117, 0.60);
        font-size: 1rem;
        margin: 5px;
        text-align: center;
    }
    
    .s-box-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .s-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 300px;
        padding: 20px 25px;
        height: 300px;
        box-sizing: border-box;
        margin: 30px;
        position: relative;
    }
    
    .s-box img {
        height: 75px;
    }
    
    .s-box h1 {
        color: #576975;
        letter-spacing: 1px;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    
    .s-box p {
        color: rgba(87, 105, 117, 0.90);
        text-align: center;
    }
    
    .s-btn {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid rgba(74, 144, 226, 0.50);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #576975;
        margin-top: 10px;
    }
    
    .bar {
        width: 100px;
        height: 6px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        background-color: #D62839;
        border-radius: 0px 0px 10px 10px;
        display: none;
        animation: bar 0.5s;
    }
    
    .s-box:hover {
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.08);
        transition: all ease 0.3s;
    }
    
    .s-btn:hover {
        background-color: #4a90e2;
        border: 1px solid #4a90e2;
        color: #FFFFFF;
        transition: all ease 0.3s;
    }
    
    .s-box:hover .bar {
        display: block;
    }
    
    .menu-bar2 img {
        width: 45px;
        height: 30px;
        float: left;
        margin-top: 15px;
        margin-left: 20px;
    }
    
    .menu-bar2 {
        height: 70px;
        width: 100%;
        background-color: #175676;
    }
    
    .menu-bar2 ul {
        float: right;
        margin-right: 10px;
    }
    
    .menu-bar2 ul li {
        display: inline-block;
        line-height: 70px;
        margin: 0 5px;
    }
    
    .menu-bar2 ul li a {
        color: white;
        font-size: 15px;
        text-decoration: none;
        padding: 7px 13px;
        border-radius: 1px;
    }
    
    .menu-bar2 ul li a:hover {
        background: #4BA3C3;
        border-radius: 6px;
        text-align: center;
        transition: .5s;
    }
    
    @keyframes bar {
        0% {
            width: 0px;
        }
        100% {
            width: 100px;
        }
    }
    
    @media(max-width:1050px) {
        .s-box-container {
            flex-wrap: wrap;
        }
        .services {
            height: auto;
        }
        .s-heading {
            margin: 15px;
        }
        .s-box {
            flex-grow: 1;
        }
    }
</style>



<header>
    <div class="menu-bar2" id="click">
        <img src="../img/whitelogo.png" alt="logo">
        <ul>
            <li><a href="http://127.0.0.1:3000/profil">   Accueil</a></li>
            <li><a href="#">  A propos</a></li>
            <li><a href="#">  Mon profile</a></li>
        </ul>
    </div>
</header>

<body>
    <br>
    <section class="services">
        <div class="s-heading">
            <h1>M
                <font color="#4BA3C3">en</font>u</h1>
            <p>Veuillez choisir l'une des options suivantes</p>
        </div>
        <div class="s-box-container">

            <div class="s-box">
                <div class="bar"></div>
                <img alt="1" src="../img/prof1.png" />
                <h1>Créer un profile</h1>

                <p>Créer des profiles éditeur/valideur.</p>

                <a class="s-btn" href="http://127.0.0.1:3000/comptes">ICI</a>
            </div>

            <div class="s-box">

                <div class="bar"></div>

                <img alt="2" src="../img/stat1.png" />

                <h1>Statistique</h1>

                <p>Les statistiques des demandeurs selon plusieurs criteres.</p>

                <a class="s-btn" href="#">ICI</a>
            </div>

            <div class="s-box">

                <div class="bar"></div>

                <img alt="3" src="../img/recours1.png" />

                <h1>Liste des recours</h1>

                <p>La liste des demandeurs ayant un recours.</p>

                <a class="s-btn" href="http://127.0.0.1:3000/listeRec">ICI</a>
            </div>
        </div>


        <div class="s-box-container">

            <div class="s-box">

                <div class="bar"></div>

                <img alt="1" src="../img/profiles1.png" />

                <h1>Liste des profiles</h1>
                <!--details------>
                <p>La liste des profile editeur/valideur et ses informations.</p>
                <!--btn---------->
                <a class="s-btn" href="http://127.0.0.1:3000/users">ICI</a>
            </div>
            <!--service-box-1---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="2" src="../img/dossiers1.png" />
                <!--servies-name---------->
                <h1>Gestion des dossiers</h1>
                <!--details------>
                <p>La liste des demandeurs ayant un dossier complet.</p>
                <!--btn---------->
                <a class="s-btn" href="http://127.0.0.1:3000/listeDemandeurs">ICI</a>
            </div>
            <!--service-box-3---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="3" src="../img/archive1.png" />
                <!--servies-name---------->
                <h1>Archives</h1>
                <!--details------>
                <p>L'archive de tout les demandeurs.</p>
                <!--btn---------->
                <a class="s-btn" href="http://127.0.0.1:3000/archiveDossier">ICI</a>
            </div>
        </div>

        <div class="s-box-container">
            <!--service-box-1---------------->
            <div class="s-box">
                <!--top-bar-------->
                <div class="bar"></div>
                <!--img---------->
                <img alt="1" src="../img/historique1.png" />
                <!--servies-name---------->
                <h1>Historique</h1>
                <!--details------>
                <p>L'historique d'activités de chaque profil.</p>
                <!--btn---------->
                <a class="s-btn" href="http://127.0.0.1:3000/activ">ICI</a>
            </div>

            <div class="s-box">

                <div class="bar"></div>
                <img alt="2" src="../img/valider1.png" />

                <h1>Liste de validation</h1>

                <p>Liste des demandeurs ayant un dossier validé.</p>

                <a class="s-btn" href="http://127.0.0.1:3000/listeValidation">ICI</a>
            </div>

            <div class="s-box">
                <div class="bar"></div>

                <img alt="3" src="../img/classement1.png" />

                <h1>Classement</h1>

                <p>La liste de classement initial ( sans recours ) et final ( avec recours ).</p>

                <a class="s-btn" data-toggle="modal" data-target="#modale">ICI</a>
            </div>
        </div>
    </section>
</body>



<div class="modal fade" id="modale" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Veuillez choisir :</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class=m>
                    <a href="http://127.0.0.1:3000/classement_i"><img src="../img/dossier.png"> Classement initial </a>
                    <a href="http://127.0.0.1:3000/classement_f"><img src="../img/dossier.png"> Classement final </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>